<?xml version="1.0"?>
<robot name="wheelchair_robot4" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find wheelchair_robot4)/urdf/wheelchair_robot4.urdf.xacro" />
 <xacro:include filename="$(find wheelchair_robot4)/urdf/lidar_gazebo.xacro" />


    <wheelchair_robot4/>

</robot>

